# Auth0
AUTH0_SECRET='use [openssl rand -hex 32] to generate'
AUTH0_BASE_URL='http://localhost:3000'
AUTH0_ISSUER_BASE_URL='https://YOUR_AUTH0_DOMAIN.auth0.com'
AUTH0_CLIENT_ID='YOUR_AUTH0_CLIENT_ID'
AUTH0_CLIENT_SECRET='YOUR_AUTH0_CLIENT_SECRET'

# Supabase
NEXT_PUBLIC_SUPABASE_URL='https://YOUR_PROJECT.supabase.co'
NEXT_PUBLIC_SUPABASE_ANON_KEY='YOUR_ANON_KEY'
SUPABASE_SERVICE_ROLE_KEY='YOUR_SERVICE_ROLE_KEY'
